/* Generic styles */
body {
  background-color: white;
}

h3 {
  color:#4d4d4d;
}

hr {
  color: #e6e6e6;
}

/* Left menu tab */
div.menu {
  background-color: white;
}

/* Default button inside menu tab */
div.menu button {
  color: black;
}

/* Background button color on hover inside menu tab */
div.menu button:hover {
  background-color: #f2f2f2;
}

/* Active button inside menu tab */
div.menu button.active {
  background-color: #d9d9d9;
}

/* Right content tab */
.content_tab {
  background-color: white;
}